<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628949624709-80qi72ck17mvfd9igc80avd1fk2ncn3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628949624709-80qi72ck17mvfd9igc80avd1fk2ncn3l</string>
	<key>API_KEY</key>
	<string>AIzaSyAk4QEuDxSkX_v4JnqBY8jafOGOADJF6k4</string>
	<key>GCM_SENDER_ID</key>
	<string>628949624709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>uteapp-7ab04</string>
	<key>STORAGE_BUCKET</key>
	<string>uteapp-7ab04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628949624709:ios:46290579bce6091053c6ec</string>
</dict>
</plist>